#box-1 {
    margin: 5% 15%;
    background-color: #2d4a53;
    padding: 2%;
    border-radius: 35px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: groove;
}

.parrafos {
    text-align: justify;
    text-justify: inter-word;
    background-color: #2d4a53;
    border-radius: 16px;
    margin: 15px;
}

.contenedor-imagenes {
    display: flex;
    justify-content: space-between;
    height: auto;
}


#imagen-jpa1 {
    max-width: 49%;
    height: auto;
}

#imagen-jpa2 {
    max-width: 49%;
    height: auto;
}

body {
    background: linear-gradient(180deg, #4c9ebf 0%, #3bcdc7 100%);
}